<h1>Lista de tareas</h1>

<p>Esta es una lista de tareas por hacer.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Id</th>
      <th>Fecha</th>
      <th>Título</th>
      <th>Nota</th>
      <th>Recordatorio</th>
      <th>Tag</th>
      <th>Check</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
